.contacts {
  &__buttons-container {
    display: flex;
    margin-bottom: 16px;
  }

  &__button {
    margin-right: 16px;

    &:last-child {
      margin-right: 16px;
    }
  }

  &__text-container {
    margin-bottom: 40px;
  }

  &__text-container-element {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0px;
    }

    &--tel {
      color: $main-text-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      letter-spacing: -0.6px;
    }
  }
}
