.submit-btn {
  padding-left: 12px;
  padding-right: 40px;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  background: url(../img/order.svg) #ff3e79 no-repeat 95%;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  height: 32px;
  border-radius: 16px;
  border-color: transparent;
  font-family: TTLakes;
}
