.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  background-color: #b5b6bc;
}

.swiper-pagination {
  position: static;
  margin-bottom: 20px;

  @media (min-width: $tablet-breakpoint) {
    display: none;
  }
}